.container-global {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.container-vertical, .container-vertical-go {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10vh;
  transition: all 0.3s ease;
}

.container-vertical-go {
  padding-bottom: 22vh;
  transition: all 0.3s ease;
}
.cell-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 12px;
}

.keys {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 25%;
  min-width: 320px;
}

.result-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15vh;
  text-align: center;
  align-items: center;
}

.restart-button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#7c8aff,#3c4fe0);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
  :hover{
      box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  }
  margin-top: 5px;
}

.container-indicator {
  width: 50px;
  text-align: left;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: left;
  font-size: 30px;
}

.container-cells-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 50px;
}

.cell-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  width: 41vh;
}

@media screen and (max-width: 375px) {
  .keys {
    width: 100%;
    height: 30%;
  }
  .cell-column {
    height: 43vh;
    width: 35vh;
  }
  .container-indicator {
    text-align: center;
  }
  .container-cells-indicator{
    margin-right: 4vw;
  }
  .container-vertical, .container-vertical-go {
    padding-bottom: 16vh;
  }
  .container-vertical-go {
    padding-bottom: 27vh;
  }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
  .keys {
    width: 100%;
    height: 28%;
  }
  .cell-column {
    height: 47vh;
    width: 35vh;
  }

  .container-cells-indicator{
    margin-right: 4vw;
  }
  .container-vertical, .container-vertical-go {
    padding-bottom: 16vh;
  }
  
  .container-vertical-go {
    padding-bottom: 27vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) and (orientation: portrait) {
  .keys {
    width: 70%;
    height: 28%;
  }
  .cell-column {
    height: 42vh;
    width: 35vh;
  }
  /* .container-indicator {
    text-align: center;
  } */
  .container-cells-indicator{
    margin-right: 10vw;
  }
  .container-vertical {
    padding-bottom: 12vh;
  }
  .container-vertical-go {
    padding-bottom: 26vh;
  }
  .restart-button {
    font-size: 20px;
    height: 60px;
    width: 150px;
    padding: 15px 30px;
    border-radius: 35px;
    margin-top: 10px;
  }

  .result-container{
    padding-top: 20px;
    font-size: 25px;
  }
}
 
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .keys {
    width: 45%;
    height: 28%;
  }
  .cell-column {
    height: 49vh;
    width: 38vh;
  }
  .container-indicator {
    width: 5vw;
    font-size: 2.5vw;
    justify-content: left;
  }
  .container-cells-indicator{
    margin-right: 5vw;
  }
  .container-vertical, .container-vertical-go {
    padding-bottom: 13vh;
  }
  
  .container-vertical-go {
    padding-bottom: 26vh;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .keys {
    width: 34%;
    height: 28%;
  }
  .cell-column {
    height: 49vh;
    width: 38vh;
  }
  .container-indicator {
    font-size: 2vw;
    text-align: left;
  }
  .container-vertical, .container-vertical-go {
    padding-bottom: 13vh;
  }
  .container-vertical-go {
    padding-bottom: 26vh;
  }
}

@media screen and (min-width: 1900px) {
  .keys {
    width: 30%;
    height: 28%;
  }
  .cell-column {
    height: 47vh;
    width: 40vh;
  }
  .container-indicator {
    width: 60px;
    font-size: 2vw;
    justify-content: left;
  }
  /* .container-cells-indicator{
    margin-right: 5vw;
  } */
  .container-vertical, .container-vertical-go {
    padding-bottom: 13vh;
  }
  
  .container-vertical-go {
    padding-bottom: 28vh;
  }

  .restart-button {
    font-size: 20px;
    height: 60px;
    width: 140px;
    padding: 15px 30px;
    border-radius: 35px;
    margin-top: 10px;
  }

  .result-container{
    padding-top: 20px;
    font-size: 24px;
  }
} 