.container-global {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.container-vertical, .container-vertical-go {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10vh;
  transition: all 0.3s ease;
}

.container-vertical-go {
  padding-bottom: 22vh;
  transition: all 0.3s ease;
}
.cell-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* padding: 0.5vw 0; */
  border-radius: 12px;
}

.keys {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 25%;
}

.result-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15vh;
  text-align: center;
  align-items: center;
}

.restart-button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#7c8aff,#3c4fe0);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
  :hover{
      box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  }
  margin-top: 5px;
}

.container-indicator {
  width: 4vw;
  text-align: center;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  /* background-color: aqua; */
}

.container-cells-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 4vw;
}

.cell-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 41vh;
  width: 20vw;
  /* background-color: aquamarine; */
}